.img-29 {
    width: 29rem;
}

.img-26 {
    width: 26rem;
}

.img-20 {
    width: 20rem;
}

.height-10 {
    margin-top: 10rem;
}

.height-6 {
    margin-top: 6rem;
}

.height-4 {
    margin-top: 4rem;
}

.height-3 {
    margin-top: 3rem;
}

.height-2 {
    margin-top: 2rem;
}

.height-1 {
    margin-top: 1rem;
}

.height-meio {
    margin-top: 0.5rem;
}

.btn-light {
    background-color: #e0e0e0 !important;
    outline: none;
}

.btn-light:hover {
    background-color: rgb(206, 205, 205) !important;
}

.width-100 {
    width: 100%;
}

.width-10 {
    width: 10rem;
}

.width-8 {
    width: 8rem;
}

.width-22 {
    width: 22rem;
}

.erro {
    border-bottom: 1px solid;
    border-color: red;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotolight;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    font-family: roboto !important;    
}

.back {
    margin: 0;
    width: 100%;    
    background: #f4f5f7;
}

.navbar {
    margin-bottom: 0 !important;
    min-height: 65px !important;
}

.navbar-light {
    border-color: #e7e7e7 !important;
}

.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.btn-menuLateral {
    text-align: center;
    font-size: 12px;
    color: #656565;    
}

.btnLateral {
    color: #656565;
    text-decoration: none !important;
}

.optLateral {
    margin-bottom: 3.5rem;
}

.btnLateral:hover {
    color: #00bcd4;
}

.tituloPainel {
    color: #2ec3c8 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-top: 2.0rem !important;
}

.select {
    height: 33px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
}

.panel-Login {
    background: #fff;
}

.red {
    color: red;
}

.white {
    color: #fff;
}

.center {
    text-align: center !important;
}

.card-panel {
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 10px;
    margin: 0 0 2rem 0;
    border-radius: 2px;
}

.spaceRight-1 {
    margin-right: 1rem;
}

.linkProj {
    color: #656565;
    text-decoration: none !important;
    font-size: 12px;
}

.nav-ul {
    list-style: none;    
    margin-right: 0rem !important;
}

.nav-ul-right {
    position: relative;
    float: right;    
}

.nav-ul-top {
    position: relative;
    top: 15px;
}

.col-offset-2 {
    margin-left: 21.666667%;
}

.col-offset-5 {
    margin-left: 36.666667%;
}

.navProj {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background: #fff;
}

.name-user {
    margin-top: 15px;
    font-size: 12px;
}

.iconeUser {
    width: 50%;
    height: 7rem;
}

.descOptions {
    top: 5px;
    position: relative;
    line-height: 1;
    font-size: 11px;
}

.rowIndicadores {        
    margin-left: 10px;
    width: 95%;   
    display: inline-flex;
    text-align: center; 
}

.dadosIndicadores {    
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 13px;
    background: #f4f5f7;
    width: 20%;
    padding: 1rem;
}

.numberIndicadores {
    color: #059a95;
    font-size: 22px;
    font-weight: bold;
}

/*Elementos ID*/

#divEditarTarefa {
    width: 28%;
}

#quadroDicas {
    height: 32rem !important;
    margin-top: 5px;
}

#date {
    font-size: 13px;
    margin-right: 10px;
}

#titledash {
    color: #3fc3be;
    margin-left: 5px;    
}

#clrblk {
    background: url('../img/gestao-projetos.png') !important; 
    background-size: cover !important;  
}

#dash_back {
    background: #f4f5f7 !important;
}

#icoMenu {
    margin-top: 10px;
    padding: 9px;
}

#icoMenu:hover {
    background: #f0f0f0;
    border-radius: 17px;
    transition: 0.2s;
}

#userIcon {
    text-align: center;    
}

#nameUserLogado {    
    font-weight: bold;
    position: relative;
    top: 5px;
    left: 15px;
}

#exit {
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    padding: 5.5px 10px !important;
}

#exit:hover {
    background-color: #f5f5f5;
}

#bodyNewUser {
    background: url('../img/new_user.jpg');
}

#imgLogoNewUser {
    top: 5px;
    position: relative;
}

#img-exit {
    width: 18px;
    position: relative;
    left: 5px;
    bottom: 2px;
}

#img-integra-dash {
    position: relative;
    top: 8px;
}

#thActions {
    text-align: center;
}

#descricao {    
    height: 36px;
    width: 100%;
}

#recursobox {
    margin-top: 25px;
}

#btnRecurso {
    margin-top: 1rem;
}

/*-------------------------------------------*/

.dropdown {
    position: relative;
    margin: 0;
    height: 5rem;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.menuBurger {
    margin-top: 20px;
    color: #6f6f6f;
    margin-left: 35px;
}

.menu {
    cursor: pointer;
}

.menu li {
    position: relative;
    float: left;
}

.menu li ul {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.iconSpace {
    padding-right: 10px;
    top: 5px;
    position: relative;
    font-size: 45px;
    left: 5px;
    color: #b3afc2;
    padding-bottom: 15px;
}

.linkCadastro {
    padding: 20px 0 20px 0;
    font-size: 28px;
}


.divUserID {
    font-size: 12px;
    margin-top: 5px;
}

.lnkOpcoes {
    color: #607d8b;
    padding: 0 20px 20px 0;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.linkOption {
    position: relative;
    left: 2rem;
    cursor: pointer;
}

.linkOptionRec {
    position: relative;
    left: 3rem;
    cursor: pointer;
}

.lnkOpcoes:hover {
    color: #2dc3c8;
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #9e9e9e;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 5px;
    right: 1.5rem;
}

.dropdown-content {
    display: none;    
    position: absolute;
    background-color: #fff;
    width: 320px;
    border: 1px solid #e0e0e0;
    z-index: 1;
    right: 1.5rem;
}

.dropdown-content a {
    color: #607d8b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d9f3f49c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.div-apps {
    width: 175px;
    text-align: center;
    padding: 5px;
    display: table-cell;
}

.div-user {
    display: inline-flex;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}

.divQuadrosDash {
    width: 100%;
    max-width: 60rem;
    height: 17rem;
    margin: 0 0.5rem 0.5rem;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;    
    background: #fff;
    display: inline-block;
}

.flex-container-dash {
    width: 56rem;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    background: #fafafa;
}

.tituloDash {    
    color: #5d5b5b;
    margin-left: 15px;
    border-radius: 5px;
    width: 90%;
}

.floatRight {
    float: right;
}

.font-15 {
    font-size: 15px;
}

.font-12 {
    font-size: 12px;
}

.title {
    font-size: 16px;
    font-family: robotolight, roboto, sans-serif;
}



.tituloAlerta {
    padding: 1rem 0 0;
    font-size: 1.4rem;
    color: #5d5b5b;    
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px; 
    display: inline-flex;   
}

.quadrosDash {
    padding: 1rem;
    width: 39rem;
    height: 22rem;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;    
}

.margin-right-1 {
    margin-right: 1rem;
}

.margin-left-1 {
    margin-left: 1rem;
}

.heightQuadroDash {
    height: 30rem;
}

.dadosDash {
    text-align: center;
    font-size: 4rem;
    color: #3fc3be;
    font-weight: bold;
    background-color: #f5f5f5;
    margin-left: 15px;
    margin-right: 15px;
    height: 11rem;
    margin-top: 1px;
}

.disabled {
    display: none;
    visibility: hidden;
}

.btn-width30 {
    width: 30%;
}

.inline {
    display: inline-flex;
}

.quadro2 {
    border: 0;
    width: 40rem;
}

.quadro3 {
    margin: 1rem;
}

.quadro1-dash {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
}

.quadro2-dash {
    width: 27rem;
}

.iconQuadro {
    margin-right: 10px;
    vertical-align: baseline;
}

.iconQuadro2 {
    margin-right: 10px;
}

.menuDash {
    border: 1px solid #ccc;
}

.linkDash {
    text-decoration: none !important;
    color: #848484;
    position: relative;
    top: 25px;
    font-size: 12px;
    width: 90%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #fff;
}

.linkDash:hover {
    color: #3fc3be;
}

.descOpDash {
    margin-top: 15px;
}

.optDash {
    height: 520px;
    margin-bottom: 25px;
    background: #f4f5f7;
    width: 100%;    
}

.dash-body {
    background: #fafafa;
}

.containerDash {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;    
    padding-top: 15px;
    width: 98%;
}

.bodyDash {
    height: 542px;
}

.col-sm--6 {
    width: 47% !important;
}

.tooltip2 {
    position: relative;
    display: inline-block;    
    /* If you want dots under the hoverable text */
}

/* Tooltip text */

a.tooltip2 {
    position: relative;
    font-size: 12px;    
    text-decoration: none !important;
    cursor: pointer;
}

a.tooltip2:hover {
    background: transparent;    
    z-index: 25;
}

a.tooltip2 span {
    display: none
}

a.tooltip2:hover span {
    display: block;
    position: absolute;
    width: 90px;
    left: -33px;
    top: 34px;
    font-size: 12px;
    padding: 0.5 1.5rem;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ccc;
    color: #565656;
    text-align: center;
}

.size-14 {
    font-size: 14px;
}

.size-13 {
    font-size: 13px;
}

.linkQuadros {
    color: #007cff;
    padding-left: 7rem;
    padding-right: 7rem;
}

.iconActions {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;    
}

.options {
    position: relative;
    bottom: 5px;
}

.options li {
    position:relative; 
    float:left; 
    cursor: pointer;    
}

.options li  ul{
    position:absolute; 
    top: 0px; 
    right: 40px;
    display:none;
}

.options li:hover ul, .options li.over ul{display:block;}

.div-actions {
    position: relative;
    background: #fff;
    left: 95px;    
    width: 85px;
    text-align: center;
    border-radius: 10px;
}

.li-div-actions {
    margin-right: 1rem;
}

.divListar {        
    margin-bottom: 15px;
    padding: 5px 0 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 17px;
    color: #2fc4c9;
}

.qtdeIndicadores {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.listTarefas {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

.col-3 {
    width: 20% !important;
}

.btn-left-1 {
    margin-left: 1rem;
}

.selectList {
    width: 39rem !important;
}

.labelTitulo {
    color: #7f7f7f;
    font-weight: normal;
}

.divTarefas {
    border-radius: 5px;
    padding: 2rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    display: flex;
}

.containerTask {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
}

.flex {
    display: flex;
}

.marginleft-label {
    padding-left: 3rem;
}

.width75 {
    width: 75% !important;
}

/*******/


.linkProjTarefas {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem 3rem;
    margin-left: 2rem;
    text-decoration: none !important;
}

.linkProjTarefas:hover {
    background: #f4f5f7;
}

.spanTarefas {
    font-weight: bold;
    font-size: 13px;
    margin-right: 1rem;
}

.divDados {
    margin-right: 1rem;
    display: inline-table;
}

.divDadosTarefas {    
    padding-right: 5rem;
}
