.img-29 {
    width: 29rem;
}

.img-26 {
    width: 26rem;
}

.img-17 {
    width: 17rem;
}

.height-10 {
    margin-top: 10rem;
}

.height-6 {
    margin-top: 6rem;
}

.height-4 {
    margin-top: 4rem;
}

.height-2 {
    margin-top: 2rem;
}

.btn-light {
    background-color: #e0e0e0 !important;
    outline: none;
}

.btn-light:hover {
    background-color: rgb(206, 205, 205) !important;
}

.width-100 {
    width: 100%;
}

.width-22 {
    width: 22rem;
}

.erro {
    border-bottom: 1px solid;
    border-color: red;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    font-family: roboto !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-light {
    border-color: #e7e7e7 !important;
}

.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.btn-menuLateral {
    text-align: center;
    font-size: 12px;                
    color: #656565;        
    padding: 0.5rem;
}

.btnLateral {
    color: #656565;
    text-decoration: none !important;
}

.btnLateral:hover {
    color: #00bcd4;
}

.tituloPainel {
    color: #2ec3c8 !important;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-top: 2.0rem !important;    
}

.select {
    height: 33px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #ccc;
}

.panel-Login {
    background: #fff;    
}

.red {
    color: red;
}

.white {
    color: #fff;
}

.center {
    text-align: center;
}

.card-panel {
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 10px;
    margin: 0 0 2rem 0;
    border-radius: 2px;
}

.spaceRight-1 {
    margin-right: 1rem;
}

.linkProj {
    color: #656565;
    text-decoration: none !important;
    font-size: 12px;
}

.nav-ul {
    list-style: none;
    margin-top: 1rem;
    margin-right: 0rem !important;
}

.col-offset-2 {
    margin-left: 21.666667%;
}

.col-offset-5 {
    margin-left: 36.666667%;
}

.navProj {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #efefef !important;
}

.name-user {
    margin-top: 15px;
    font-size: 12px;
}

.iconeUser {
    width: 50%;
    height: 7rem;
}

.descOptions {
    top: 12px;
    position: relative;
}

/*Elementos ID*/

#clrblk {
    background: url('../img/gestao-projetos.png') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#icoMenu {
    margin-top: 10px;    
    padding: 9px;
}

#icoMenu:hover {
    background: #f0f0f0;
    border-radius: 17px;  
    transition: 0.2s;  
}

#userIcon {
    text-align: center;
    margin-top: 1rem;
}

#divUserID {
    font-size: 12px;
    margin-top: 5px;
}

#nameUserLogado {
    font-weight: bold;
}

/*-------------------------------------------*/

.dropdown {
    position: relative;
    margin: 0;
    height: 5rem;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.menuBurger {
    margin-top: 20px;    
    color: #6f6f6f;
    margin-left: 35px;
}

.menu {
    cursor: pointer;
}

.menu li {
    position:relative; 
    float:left;     
}

.menu li  ul{
    position:absolute; 
    top: 50px; 
    left:0;
    background-color:#fff; 
    display: none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.iconSpace {
    padding-right: 10px;
    top: 5px;
    position: relative;
    font-size: 45px;
    left: 5px;    
    color: #b3afc2;
    padding-bottom: 15px;
}

.linkCadastro {
    padding: 20px 0 20px 0;
    font-size: 28px;    
}

.lnkOpcoes {
    color: #607d8b;
    padding: 0 20px 20px 0;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.lnkOpcoes:hover {
    color: #2dc3c8;
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #9e9e9e;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 15px;
}

.dropdown-content {
    display: none;
   /*  display: block; */
    position: absolute;
    background-color: #fff;
    width: 320px;
    border: 1px solid #e0e0e0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;    
}

.dropdown-content a {
    color: #607d8b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #d9f3f49c;}

.dropdown:hover .dropdown-content {
    display: block;
}

.div-apps {
    width: 175px;
    text-align: center;
    padding: 5px;
    display: table-cell;
}

.div-user {
    display: inline-flex;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}

.divQuadrosDash {
    width: 100%;
    max-width: 35rem;
    height: 30vh;
    background: #fbfbfb;
    margin: 2rem;
}

.flex-container-dash {
    display: flex;
    width: 100%;
}

.tituloDash {
    padding: 1rem;
    font-size: 1.8rem;    
    color: #8c8c8c;
}

.dadosDash {
    text-align: center;
    font-size: 4rem;
    color: #3fc3be;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}

.disabled {
    display: none;
    visibility: hidden;
}

.btn-width30 {
    width: 30%;
}