.img-33 {
    width: 33rem;
}

.img-17 {
    width: 17rem;
}

.height-10 {
    margin-top: 10rem;
}

.height-6 {
    margin-top: 6rem;
}

.btn-light {
    background-color: #e0e0e0 !important;
    outline: none;
}

.btn-light:hover {
    background-color: rgb(206, 205, 205) !important;
}

.width-100 {
    width: 100%;
}

.width-22 {
    width: 22rem;
}

.erro {
    border-bottom: 1px solid;
    border-color: red;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    font-family: roboto !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar-light {
    border-color: #e7e7e7 !important;
}

.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.divOptions {    
    margin: 0.2rem;
    height: 100%;
}

.btn-menuLateral {
    text-align: center;
    font-size: 11px;            
    margin-top: 2rem;
    color: #656565;    
}

.btnLateral {
    color: #656565;
    text-decoration: none !important;
}

.btnLateral:hover {
    color: #00bcd4;
}

.tituloPainel {
    color: #2ec3c8 !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.select {
    height: 33px;
    border-radius: 4px;
    width: 50%;
    border: 1px solid #ccc;
}

/*---------------------------------------*/

#divMenuLateral {
    position: fixed;
    width: 6rem;
    height: 100%;
    border-right: 1px solid #ccc;
}

