<html lang="pt">

<%- include header %>

<div class="container height-6">
   <div class="flex-container-dash">
       <div class="divQuadrosDash">
           <div class="tituloDash">Projetos</div>
           <div class="dadosDash"> <%= qtde %> </div>
       </div>
       <div class="divQuadrosDash">
            <div class="tituloDash">Recursos</div>
       </div>            
       <div class="divQuadrosDash">
        <div class="tituloDash">Tarefas</div>
       </div>
   </div>
</div>



<%- include footer %>