<html lang="pt">

<%- include header %>

<div class="container height-4">
   <div class="flex-container-dash">
       <div class="divQuadrosDash">
           <div class="tituloDash">Projetos Próprios</div>
           <div class="dadosDash"> <%= qtde %> </div>
       </div>
       <div class="divQuadrosDash">
            <div class="tituloDash">Projetos Coadjuvante</div>
            <div class="dadosDash"> - </div>
       </div>
       <div class="divQuadrosDash">
            <div class="tituloDash">Recursos</div>
            <div class="dadosDash"> - </div>
       </div>            
       <div class="divQuadrosDash">
            <div class="tituloDash">Tarefas</div>
            <div class="dadosDash"> - </div>
       </div>
       
   </div>
</div>



<%- include footer %>