<html lang="pt">

<%- include header %>

<div class="containerDash height-2">
    <div class="row">

        <div class="containerDash col-sm-4">
            <div class="tituloAlerta">
                <img class="iconQuadro2" src="../img/iconAtencao.png" alt="">Pontos de Atenção
            </div>
        </div>

        <div class="containerDash col-sm-2">
            <div class="center optDash inline">
                <a href="/integrar" class="linkDash">
                    <img id="img-integra-dash" src="../img/integrar.png" alt="">
                    <p class="descOpDash">Integrar Projeto</p>
                </a>
            </div>
        </div>

        <div class="containerDash col-sm-6 bodyDash">
            <div class="divQuadrosDash">
                <div class="tituloDash">
                    <img class="iconQuadro" src="../img/iconMeusProjetos.png" alt="">Projetos Próprios
                </div>
                <div class="dadosDash">
                    <%= qtde %>
                </div>
            </div>
            <div class="divQuadrosDash">
                <div class="tituloDash">
                    <img class="iconQuadro2" src="../img/iconProjCoad.png" alt="">Projetos Coadjuvantes
                </div>
                <div class="dadosDash"> - </div>
            </div>
            <div class="divQuadrosDash">
                <div class="tituloDash">
                    <img class="iconQuadro2" src="../img/iconRecurso.png" alt="">Recursos
                </div>
                <div class="dadosDash"> - </div>
            </div>
        </div>



    </div>
</div>

<div class="divQuadroDash height-4">
    <div class="quadro1-dash inline">
        <div class="flex-container-dash">


        </div>
    </div>





</div>



<%- include footer %>