<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ProjWEB - Gestão de Projetos</title>
  <link rel='stylesheet' href='../style/style.css' />
  <link rel="icon" href="../img/icon.ico">
  <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/-->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="../style/bootstrap-3.3.1/dist/css/bootstrap.min.css">
</head>

<body>
  <!--div class="container"-->
  <!-- Static navbar -->
  <nav class="navbar navProj">
    <div class="container-fluid">
      <div id="navbar" class="">
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/home/dashboard">Home</a></li>
          </ul> -->
        <ul class="nav navbar-nav">
          <li>
            <div class="dropdown">
              <i class="material-icons dropbtn"><img src="../img/menu.png" alt="ProjWeb"></i>

              <div class="dropdown-content">

                <div class="div-user center">
                  <div id="iconeUser">
                    icon user
                  </div>
                  <div>
                    <label id="name-user">Olá! </label>
                    <div>
                      <%= user %>
                    </div>
                    <div>
                      <%= nome %>
                    </div>
                  </div>
                </div>

                <div id="div-card-apps">

                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/cadastrarRecurso"><img src="/img/recursos.png" class="img-responsive center-block"
                        alt="Recursos">
                      Novo Recurso</a>
                  </div>

                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/cadastrarProjeto"><img src="/img/proj.png" class="img-responsive center-block"
                        alt="Recursos">
                      Novo Projeto</a>
                  </div>

                  <div class="div-apps">
                    <a routerLink="/tarefas/novo" class="lnkOpcoes" title="Para Cadastrar Um Nova Tarefa, Clique Aqui.">
                      <img src="assets/img/task.png" class="img-icons">
                      <label class="label-icons">Tarefas</label>
                    </a>
                  </div>

                  <div class="div-apps">
                    <a routerLink="/status/novo" class="lnkOpcoes" title="Para Cadastrar Um Novo Status, Clique Aqui.">
                      <img src="assets/img/status.png" class="img-icons">
                      <label class="label-icons">Status</label>
                    </a>
                  </div>

                  <div id="div-config-out">
                    <div class="div-logout">
                      <a routerLink="/#">
                        <img src="assets/img/config.png" class="spaceRight">
                        <label class="lbl-icon">Configurações</label>
                      </a>
                    </div>
                    <div class="div-logout border-left">
                      <a routerLink="/home">
                        <img src="assets/img/log-out.png" class="spaceRight invert-icon">
                        <label class="lbl-icon">Sair</label>
                      </a>
                    </div>
                  </div>


                </div>
              </div>


            </div>
          </li>
          <li>
            <div>
              <a href="/home/dashboard">
                <img src="../img/projWebLogo.png" class="img-responsive img-17 col-offset-2" alt="ProjWEB Gestão de Projetos OnLine">
              </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-right nav-ul">
          <li>
            <a class="linkProj" href="/home/logout">Sair&nbsp;&nbsp;<img src="../img/logout.png" alt=""></a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>