<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ProjWEB - Gestão de Projetos</title>
  <link rel='stylesheet' href='../style/style.css' />
  <link rel="icon" href="../img/icon.ico">
  <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/-->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="../style/bootstrap-3.3.1/dist/css/bootstrap.min.css">
</head>

<body>
  <!--div class="container"-->
  <!-- Static navbar -->
  <nav class="navbar navProj">
    <div class="container-fluid">
      <div id="navbar" class="">
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/home/dashboard">Home</a></li>
          </ul> -->
        <ul class="nav navbar-nav">
          <li>
            <div class="dropdown">
              <i class="material-icons dropbtn"><img src="../img/menu.png" alt="ProjWeb"></i>

              <div class="dropdown-content">

                <div class="div-user center">
                  <div class="iconeUser">
                    <img src="../img/user.png" alt="User ProjWeb" id="userIcon">
                    <div id="divUserID"> Id. Usuário: <b><%= user %></b> </div>
                  </div>
                  <div class="iconeUser">
                    <p class="name-user">
                      Usuário Logado:
                    </p>
                    <p id="nameUserLogado">
                      <%= nome %>
                    </p>
                  </div>
                </div>

                <div id="div-card-apps">

                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/cadastrarRecurso"><img src="/img/recursos.png" class="img-responsive center-block"
                        alt="Recursos">
                      <p class="descOptions">Novo Recurso</p></a>
                  </div>

                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/cadastrarProjeto"><img src="/img/proj.png" class="img-responsive center-block"
                        alt="Recursos">
                      <p class="descOptions">Novo Projeto</p></a>
                  </div>

                </div>
              </div>


            </div>
          </li>
          <li>
            <div>
              <a href="/home/dashboard">
                <img src="../img/projWebLogo.png" class="img-responsive img-17 col-offset-2" alt="ProjWEB Gestão de Projetos OnLine">
              </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-right nav-ul">
          <li>
            <a class="linkProj" href="/home/logout">Sair&nbsp;&nbsp;<img src="../img/logout.png" alt=""></a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>