<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ProjWEB - Gestão de Projetos</title>
  <link rel='stylesheet' href='../style/style.css' />
  <link rel="icon" href="../img/icon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../style/bootstrap-3.3.1/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/jquery.mask.js"></script>
  <script src="../js/jquery.maskMoney.js" type="text/javascript"></script>
  <script src="../js/date.js"></script>
  <script>
    function UpdateConfirm() {
      var userPreference;
      if (confirm("Voce realmente deseja excluir?") == true) {
        return true;
      }
      else {
        return false;
      }
    }

    var mask = {
      money: function () {
        var el = this
          , exec = function (v) {
            v = v.replace(/\D/g, "");
            v = new String(Number(v));
            var len = v.length;
            if (1 == len)
              v = v.replace(/(\d)/, "0.0$1");
            else if (2 == len)
              v = v.replace(/(\d)/, "0.$1");
            else if (len > 2) {
              v = v.replace(/(\d{2})$/, '.$1');
              /* if (len > 5) {
                var x = len - 5
                  , er = new RegExp('(\\d{' + x + '})(\\d)');
                v = v.replace(er, '$1.$2');
              } */
            }
            return v;
          };
        setTimeout(function () {
          el.value = exec(el.value);
        }, 1);
      }
    }

    function configurarMoeda() {
      $(".moeda").maskMoney({
        decimal: ",",
        thousands: '.',
        allowZero: true
      });
    }

    $(document).ready(function () {
      configurarMoeda();
    });

    $(function () {
      $('#valor').bind('keypress', mask.money)
    });

    $(function () {
      $(".data").mask("99/99/9999");
    })

    $(function () {
      $(".hora").mask("99:99");
    })

    function novoRecurso() {
      if (document.getElementById('incluirNovoRecurso').style.display == 'block') {
        document.getElementById('incluirNovoRecurso').style.display = 'none';
      }
      else {
        document.getElementById('incluirNovoRecurso').style.display = 'block';
      }
    }

  </script>


</head>

<body onload="date()">
  <!--div class="container"-->
  <!-- Static navbar -->
  <nav class="navbar navProj">
    <div class="container-fluid">
      <div id="navbar" class="">
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/home/dashboard">Home</a></li>
          </ul> -->

        <ul class="nav navbar-nav">
          <li>
            <div>
              <a href="/home/dashboard">
                <img src="../img/projWebLogo.png" class="img-responsive img-20" alt="ProjWEB Gestão de Projetos OnLine">
              </a>
            </div>
          </li>
        </ul>

        <ul class="navbar-right nav-ul nav-ul-top" id="exit">
          <li>
            <a class="linkProj" href="/home/logout">Sair&nbsp;&nbsp;<img id="img-exit" src="../img/logout.png" alt=""></a>
          </li>
        </ul>
        <ul class="navbar-right nav-ul nav-ul-top">
          <li>
            <div class="dropdown">
              <i class="material-icons dropbtn"><img src="../img/menu.png" alt="ProjWeb"></i>

              <div class="dropdown-content">

                <div class="div-user center">
                  <div class="iconeUser" id="iconUserCod">
                    <img src="../img/user.png" alt="User ProjWeb" id="userIcon">
                    <div class="divUserID"> Id. Usuário: <b>
                        <%= user %></b> </div>
                  </div>

                  <div id="div-card-apps">
                    <div class="iconeUserName" >
                      <p class="name-user">
                        Usuário Logado:
                      </p>
                      <p id="nameUserLogado">
                        <%= nomeUsuario %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </li>
        </ul>
        <ul class="nav-ul nav-ul-right nav-ul-top">
          <li>
            <div class="inline">
              <img src="../img/user.png" alt="User ProjWeb" id="userIconHead">
              <p id="nameUserLogado">
                <%= nomeUsuario %>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>