<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ProjWEB - Gestão de Projetos</title>
  <link rel='stylesheet' href='../style/style.css' />
  <link rel="icon" href="../img/icon.ico">
  <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/-->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link rel="stylesheet" href="../style/bootstrap-3.3.1/dist/css/bootstrap.min.css">
</head>

<body>
  <!--div class="container"-->
  <!-- Static navbar -->
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/home/dashboard">Home</a></li>
          </ul> -->
        <ul class="nav navbar-nav">
          <li>
            <img src="../img/projWebLogo.png" class="img-responsive img-17 col-md-offset-2" alt="ProjWEB Gestão de Projetos OnLine">
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/home/logout">Logout</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

  <div id="divMenuLateral">
    <div class="divOptions">
      <div class="btn-menuLateral">
        <a class="btnLateral" href="/novoProjeto"><img src="/img/proj.png" class="img-responsive center-block" alt="Responsive image">
          Novo Projeto</a>
      </div>
    </div>
  </div>