<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ProjWEB - Gestão de Projetos</title>
  <link rel='stylesheet' href='../style/style.css' />
  <link rel="icon" href="../img/icon.ico">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/jquery.mask.js"></script>
  <script src="../js/jquery.maskMoney.js" type="text/javascript"></script>
  <script>
    function UpdateConfirm() {
      var userPreference;
      if (confirm("Voce realmente deseja excluir?") == true) {
        return true;
      }
      else {
        return false;
      }
    }

    var mask = {
      money: function () {
        var el = this
          , exec = function (v) {
            v = v.replace(/\D/g, "");
            v = new String(Number(v));
            var len = v.length;
            if (1 == len)
              v = v.replace(/(\d)/, "0.0$1");
            else if (2 == len)
              v = v.replace(/(\d)/, "0.$1");
            else if (len > 2) {
              v = v.replace(/(\d{2})$/, '.$1');
              if (len > 5) {
                var x = len - 5
                  , er = new RegExp('(\\d{' + x + '})(\\d)');
                v = v.replace(er, '$1.$2');
              }
            }
            return v;
          };
        setTimeout(function () {
          el.value = exec(el.value);
        }, 1);
      }
    }

    function configurarMoeda() {
      $(".moeda").maskMoney({
        decimal: ",",
        thousands: '.',
        allowZero: true
      });
    }

    $(document).ready(function () {
      configurarMoeda();
    });

    $(function () {
      $('#valor').bind('keypress', mask.money)
    });

    $(function () {
      $(".data").mask("99/99/9999");
    })

    $(function () {
      $(".hora").mask("99:99");
    })

  </script>

  <link rel="stylesheet" href="../style/bootstrap-3.3.1/dist/css/bootstrap.min.css">
</head>

<body>
  <!--div class="container"-->
  <!-- Static navbar -->
  <nav class="navbar navProj">
    <div class="container-fluid">
      <div id="navbar" class="">
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="/home/dashboard">Home</a></li>
          </ul> -->

        <ul class="nav navbar-nav">
          <li>
            <div class="dropdown">
              <i class="material-icons dropbtn"><img src="../img/menu.png" alt="ProjWeb"></i>

              <div class="dropdown-content">

                <div class="div-user center">
                  <div class="iconeUser">
                    <img src="../img/user.png" alt="User ProjWeb" id="userIcon">
                    <div class="divUserID"> Id. Usuário: <b>
                        <%= user %></b> </div>
                  </div>
                  <div class="iconeUser">
                    <p class="name-user">
                      Usuário Logado:
                    </p>
                    <p id="nameUserLogado">
                      <%= nomeUsuario %>
                    </p>
                  </div>                  
                </div>

                <div id="div-card-apps">
                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/cadastrarRecurso"><img src="/img/recursos.png" class="img-responsive center-block"
                        alt="Recursos">
                      <p class="descOptions">Novo Recurso</p>
                    </a>
                  </div>

                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/cadastrarProjeto"><img src="/img/proj.png" class="img-responsive center-block"
                        alt="Recursos">
                      <p class="descOptions">Novo Projeto</p>
                    </a>
                  </div>

                  <div class="btn-menuLateral">
                    <a class="btnLateral" href="/apontarTarefa"><img src="/img/apontarTarefa.png" class="img-responsive center-block"
                        alt="Tarefas">
                      <p class="descOptions">Apontar Tarefa</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="/home/dashboard">
                <img src="../img/projWebLogo.png" class="img-responsive img-17 col-offset-2" alt="ProjWEB Gestão de Projetos OnLine">
              </a>
            </div>
          </li>
        </ul>

        <ul class="navbar-right nav-ul nav-ul-top" id="exit">
          <li>
            <a class="linkProj" href="/home/logout">Sair&nbsp;&nbsp;<img id="img-exit" src="../img/logout.png" alt=""></a>
          </li>
        </ul>
        <ul class="nav-ul nav-ul-right nav-ul-top">
          <li>
            <a href="/listarProjetos" class="tooltip2">
              <img src="../img/listProjeto.png" alt=""><span>Listar Projeto</span>
            </a>
          </li>
        </ul>
        <ul class="nav-ul nav-ul-right nav-ul-top">
          <li>
            <a href="/listarRecursos" class="tooltip2">
              <img src="../img/listRecurso.png" alt=""><span>Listar Recurso</span>
            </a>
          </li>
        </ul>        
        <ul class="nav-ul nav-ul-right nav-ul-top">
            <li>
              <a href="/consultarTarefa" class="tooltip2">
                <img src="../img/iconTarefa.png" alt=""><span>Consultar Tarefas</span>
              </a>
            </li>
          </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>